.comment{
    border-bottom: 1px solid rgba(0, 255, 56, 1);
    overflow-wrap: break-word;
    padding-left: 1rem;
}

.comment-rating{
    float: right;
}

.replies > .comment{
    border-bottom: 0;
}

.comment-username{
    font-weight: bold;
    font-size: 1.25rem;
}

.reply-button{
    margin-bottom: 1rem;
}

.submit-comment-button{
    margin-top: 1rem;
}

.reply-form{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.submit-cancel-reply-buttons{
    margin-top: 1rem;
    margin-right: 2rem;
}

.delete-button{
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}