.navbar {
    position: sticky;
    top: 0;
}

.navbar-search-bar{
    border-radius: var(--bs-border-radius) 0rem 0rem var(--bs-border-radius);
}

.navbar-button{
    border-radius: 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius) 0;
}

.side-menu-button {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.profile-photo{
    content: url("../../assets/pp.jpg");
    width: 2rem;
    height: 2rem;
    border-radius: 25rem;
    border: 0.1rem solid #CECECE;
}