.main-navbar{
    background-color: #010B18;
    height: 3rem;
}

.logo{
    content: url("./hal900.png");
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.navbar-search-bar{
    border-radius: var(--bs-border-radius) 0rem 0rem var(--bs-border-radius);
    border: var(--bs-border-width) solid #CECECE;
    background-color: #4d545d;
}

.navbar-button{
    border-radius: 0 var(--bs-btn-border-radius) var(--bs-btn-border-radius) 0;
    border: var(--bs-border-width) solid #CECECE;
    color: #CECECE;
}

.navbar-search-bar::placeholder {
    color: #CECECE;
  }
  
.navbar-button:hover{
    background-color: #CECECE;
    border: var(--bs-border-width) solid #CECECE;
    color: #010B18;
}

.side-menu-button {
    color: #CECECE;
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: 0.9rem;
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid #CECECE;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.side-menu-button:hover{
    border-color:  #808080;
  }
  

.profile-photo{ 
    width: 2rem;
    height: 2rem;
    border-radius: 25rem;
    border: 0.1rem solid #CECECE;
}

.side-menu-button .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(206,206,206, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.side-bar{
    position: absolute;
    top: 3rem;
    right: 0;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.3s ease-out 0s, visibility 0.3s ease-out 0s;
    background-color: rgb(0, 0, 15);
    width: 300px;
    z-index: 1000000;
}

.link-on-sidebar{
    font-size: 30px;
    justify-content: center;
    border: 1px solid #CECECE;
    color: #CECECE;
    padding-top: 10px;
    padding-bottom: 10px;
}

.search-results{
    position: absolute;
    top: 3rem;
    background-color: #010B18;
    z-index: 1000;
    width: 100%;
}

.search-movie-result{ 
    display: flex;
    height: 10rem;
    border:1px solid #CECECE
}

.search-movie-result-text{
    position: relative;
    margin-top: 0.3rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    text-align: left;
    color:#CECECE;
}

.search-movie-date{
    font-size: 1.5rem;
    color: rgba(206, 206, 206, 0.75);
}

.search-user-result-image{
    margin: 0.5rem;
    border-radius: 50%;  /* Set border-radius to 50% for a circular shape */
    width: 9rem;
    height: 9rem;
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border: 0.1rem solid #CECECE;
}


.first-search-result {
    background-color: greenyellow;
}

@media(max-width: 690px){
    .navbar-username{
        display: none;
    }

    .search-movie-result{
        height: 6rem;
    }

    .search-movie-result-text{
        font-size: 1rem;
    }

    .search-movie-date{
        font-size: 1rem;
    }
}

@media(max-width: 555px){
    .profile-photo{
        display: none;
    }
}

@media(max-width: 300px){
    .side-bar{
        width: 100vw;
    }
}


