.main-page{
    width: 100vw;
    height: 100%;
    top: 0;
    position:absolute;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    background-color: #0A1421;
}

.best-match-movie{
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-left: 0;
    max-width: none;
    display: flex;
}


.best-match-movie-poster-image{
    width: 25vw;
    height: 37.5vw;
    object-fit: cover;
}

.best-match-movie-scene{
    width: 75vw;
    height: 37.5vw;
    background: no-repeat;
}


.descriptive-text{
    position: relative;
    top: 55%;
    margin-left: 3%;
    color: #cecece;
    text-align: left;
    width: 60%;  
}

.best-match-text{
    color: #00FF38;
    margin-bottom: 4%;
    font-size: 1vw;
}

.best-match-movie-name{
    font-weight: bolder;
    margin-bottom: 2%;
    font-size: 1.8vw;
}

.best-match-movie-desc{
    font-size: 1.1vw;
}

.best-match-movie-points{
    position: relative;
    top: 33%;
    left: 80%;
    width: min-content;
    height: min-content;
    color: #cecece;
    font-size: 1.1vw;
}

.true-points{
    font-weight: bolder;
}

.star{
    position:relative;
    width: min-content;
    height: min-content;
    top: 28.1%;
    left: 86%;
    margin-right: 12%;
    font-size: 1vw;
}

.rest-of-the-page{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.main-page-list{
    text-align: left;
}


.main-page-list-text{
    color: #00FF38;
    display: inline-block;
    border-bottom: 2px solid #00FF38;
    font-size: 3rem;
    padding-bottom: 1%;
}

.invisible-text{
    visibility: hidden;
}

.movie-cards {
    display: flex;
}

.movie-cards-container{
   
    margin-top: 2%;
    margin-bottom: 5%;
    justify-content: flex-start; /* Adjust as needed */
    flex-wrap: wrap;
}

.movie-card {
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 14%;
    color: #cecece;
    font-weight: bold;
    flex-shrink: 0;
}

.movie-card-body{
    display: flex;
    justify-content: center;
    text-align: center;
}
  
.movie-card-image {
    width: 100%;
    height: auto;
}


.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8%;
    margin-top: 1%;
    margin-bottom: 10%;
}
  
.user-card-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
  
.user-card-body {
    text-align: center;
}
  
.user-card-username {
    font-weight: bold;
    margin-top: 5px;
}
  
.user-card-number {
    color: #555; /* Adjust the color as needed */
    margin-top: 5px;
}
  

@media (max-width: 767px) {

    .descriptive-text{
        position: relative;
        top: 50%;
        margin-left: 3%;
        width: 60%;  
    }
    
    .best-match-text{
        font-size: 1.5vw;
    }
    
    .best-match-movie-name{
        margin-bottom: 2%;
        font-size: 2.7vw;
    }
    
    .best-match-movie-desc{
        font-size: 1.65vw;
    }
    
    .best-match-movie-points{
        top: 13%;
        left: 80%;
        font-size: 1.65vw;
    }
    
    .star{
        top: 7.3%;
        left: 88%;
        margin-right: 12%;
    }

    .invisible-text{
        display: none;
    }
}