.movie-title-director{
    position: relative;
    top: 82%;
    margin-left: 5%;
    color: #cecece;
    text-align: left; 
}

.name-and-date{
    font-size: 2.5vw;
    font-weight: bold;
}

.director-name{
    font-size: 1.5vw;
}

.movie-date{
    font-weight: normal;
}

.bold{
    font-weight: bold;
}

.rest-of-the-movie-page{
    width: 98vw;
    display: flex;
    color: #cecece;
}

.movie-page-movie-details{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 25vw;
    top: 0;
    text-align: left;
    white-space: pre;
    padding: 1vw;
    overflow:auto;
    height: fit-content;
}

.movie-page-movie-details > *{
    margin-bottom: 2rem;
}

.rating-data{
    display: flex;
    flex-wrap: wrap;
}

.movie-page-desc-comments{
    position: relative;
    width: 50vw;
    left: 0vw;
    top: 0;
    text-align: left;
    padding-left: 3vw;
    padding-top: 2vw;
    overflow: auto;
    height: fit-content;
}

.voting-text{
    margin-right: 12.5rem;
    font-weight: bold;
}

.your-voting-text{
    margin-right: 9.5rem;
    font-weight: bold;
}

.lighter{
    opacity: 0.75;
}

.starring{
    margin-bottom: 1rem;
}

.genre-button{
    background-color: rgba(0, 0, 0, 0.3);
    width: fit-content;
    border: 1px solid #cecece;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

.movie-page-buttons-similars{
    margin-top: 3rem;
    width: 25vw;
}

.list-select-modal-body{
    display: flex;
    flex-direction: column;
}

.list-select-modal-body > *{
    margin-top: 1rem;
}

.add-button{
    width: 5rem;
}

.add-to-a-list-button{
    margin-bottom: 2rem;
    margin-left: 30%;
    margin-right: 30%;
}


.movies-like-text{
    margin-bottom: 2rem;
}

.similar-movie{
    margin-bottom: 2rem;
}

.similar-movie-poster{
    width: 30%;
}

.similar-movie-title{
    color: #cecece;
    font-size: 1.5vw;
}

.comment-amount{
    color: rgb(0,255,56);
    border-bottom: 1px solid rgb(0,255,56);
}

.rate-button{
    background-color: rgb(252,186,3);
    border-color: rgb(252,186,3);
}


.rate-button:hover{
    background-color: rgb(222,156,0);
    border-color: rgb(222,156,0);
}

.rate-button:active{
    background-color: rgb(222,156,0);
    border-color: rgb(222,156,0);
}


/* Add your desired styling for the link */
.matched-people-link {
    text-decoration: none; /* Remove underline by default */
    color: rgb(0,255,56); /* Change the link color to match your design */
    /* Add any other styling properties you need */
}

/* Change link style on hover (optional) */
.matched-people-link:hover {
    text-decoration: underline; /* Underline on hover, for example */
    /* Add any other hover styling properties you need */
}

.movie-page-buttons{
    display: flex;
    flex-direction: column;
}

.modal-footer{
    border-top: 0;
}
